* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100vh;
    background-color: rgb(229, 253, 253);
    display: flex;
    justify-content: center;
}

.iss-app {
    margin: 0 auto;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.location {
    min-width: 72%;
}

.time {
    min-width: 25%;
}

.time, .location {
    padding: 5px;
    border-radius: 12px;
    height: 8%;
    background-color: rgb(180, 248, 248);
}

.location label, .time label, .people label {
    font-size: 18px;
    font-weight: bold;
}

.map {
    min-width: 72%;
    min-height: 85%;
}

.people {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    max-height: 85%;
    overflow: auto;
}

.person {
    width: 100%;
    margin: 10px 0;
}